/* GLOBAL */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

/* MEDIA QUERIES ------------------------------ */
/* Tablets */
@media screen and (max-width: 1200px) {

}

/* Mobile */
@media screen and (max-width: 768px) {
    
    #header-content {
        flex-direction: column !important;
    }

    #headline {
        text-align: center;
    }

    #main-content {
        flex-direction: column !important;
        align-items: center !important;
    }

    .main-gallery-col {
        width: 100% !important;
    }
}

/* Body ---------------------------------------- */
body {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    font-size: 1em;

    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    width: 100vw;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

#header-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#headline {
    width: 100vw;
    max-width: 1200px;

    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
}

#headline-title {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
}

#headline-subtitle {
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
}

nav {
    padding: 2rem 3rem;
}

#nav-ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.nav-li {
    width: 100px;
}

.nav-li a {
    padding: 1rem;
    color: black;
    text-decoration: none;
    transition: 0.1s;
    border-bottom: 0px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.nav-li a:hover {
    transition: 0.1s;
    border-bottom: 4px solid;
    color: red;
}

/* Main */
main {
    padding-top: 4rem;
}

#main-content {
    margin: 0 auto;
    max-width: 1200px;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}

.main-gallery-col {
    width: 390px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
}

.main-gallery-col li {
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%;
    overflow: hidden;

    transition: 0.25s;
}

.gallery-imgs {
    width: 100% !important;
    object-fit: contain;
}

.main-gallery-col li a {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 10px 0;
    
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: white;

    opacity: 0;
    transition: 0.25s;
}

.main-gallery-col li:hover {
    transform: scale(105%, 105%);
    transition: 0.4s;
}

.main-gallery-col li a:hover {
    transition: 0.15s;
    opacity: 1;
    background-color: rgba(0,0,0,0.50);
}


/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
}

footer object {
    padding: 10px;
    border: 0px solid black;
    box-sizing: border-box;
    transition: 0.1s;
}

footer object:hover {
    transition: 0.1s;
    border-radius: 10px;
    border-bottom: 5px solid;
}