/* GLOBAL */
a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* BASE ---------------------------------------- */
body {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0 5vw;
}

/* HEADER ELEMENTS ---------------------------------------- */
header {
    width: 100%;
    border-bottom: 1px solid #eee;
}

#header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}

#headline {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

#headline-title {
    padding: 0px;
    margin: 0px;
    font-size: 2rem;
    font-weight: bold;
}

#headline-subtitle {
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
}

#nav-ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.nav-li > a {
    padding: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: lightgray;
    transition: 0.2s;
}

.nav-li > a:hover {
    transition: 0.2s;
    color: black;
}


/* CONTENT ELEMENTS ---------------------------------------- */
main {
    margin: 1rem 0;
}

/* masonry layout that flows left to right (use grid-row-end: span # to "fill in the gaps")
#main-gallery-alternative { 
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    grid-auto-flow: dense;
    gap: 0.5rem;
}
*/

#main-gallery {
    columns: 5 320px;
    column-gap: 0.5rem;
    width: 100%;
}


.gallery-item {
    position: relative;
    break-inside: avoid;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background-color: #eee;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    border: 5px solid transparent;
}

.gallery-item:hover {
    border: 5px solid black;
    transition: 0.2s;
}

.gallery-imgs {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-item a {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    padding: 1rem;
    margin: 0 auto;

    border-radius: 15px;
    box-shadow: 0 5px 5px 1px rgba(0,0,0,0.5);
    background-color: white;
    color: black;

    font-weight: bold;

    transition: 0.2s;
    opacity: 0;
}

.gallery-item:hover > a  {
    opacity: 1;
    transition: 0.2s;
    left: 50%;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
}

footer object {
    padding: 10px;
    border: 0px solid black;
    box-sizing: border-box;
    transition: 0.2s;
}

footer object:hover {
    transition: 0.2s;
    border-radius: 10px;
    border-bottom: 5px solid;
}

/* MEDIA QUERIES ------------------------------ */
/* Tablets */
@media screen and (max-width: 1200px) {

}

/* Mobile */
@media screen and (max-width: 768px) {

}