:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --primary-font-color: "black";
    --primary-font-color-active: "red";
}

/* MEDIA QUERIES ------------------------------ */
/* Tablets */
@media screen and (min-width: 769px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column !important;
    }

    main {
        grid-template-columns: 1fr;
    }
}

/* Body ---------------------------------------- */
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > div {
    padding: 1.5vw 3vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header > div > :nth-child(1) {
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(2vw + 2vh + 1vmin);
}

header > div > :nth-child(2) {
    padding: 0px;
    margin: 0px;
    font-size: calc(0.5vw + 0.5vh + 0.1vmin);
}


nav {
    padding: 1.5vw 3vw;
}

nav ul {
    width: 400px;
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

nav ul li {

}

nav ul li a {
    padding: 5px;
    color: var(--primary-font-color);
    text-decoration: none;
    transition: 0.1s;
    border-bottom: 0px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

nav ul li a:hover {
    transition: 0.1s;
    border-bottom: 4px solid;
    font-weight: bold;
}

/* Main */
main {
    padding: 5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-content: space-evenly;
}

main > h1 {
    grid-column: 1/end;
    font-size: 6vw;
    text-align: center;
}

main > img {
    padding: 1vw;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: 1vw solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.wide-3 {
    grid-column-end: span 3;
}

.wide-2 {
    grid-column-end: span 2;
}

.tall {
    grid-row-end: span 2;
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20vw 0 5vw 0vw;
}

footer object {
    padding: 10px;
    border: 0px solid black;
    box-sizing: border-box;
    transition: 0.1s;
}

footer object:hover {
    transition: 0.1s;
    border-radius: 10px;
    border-bottom: 5px solid;
}