/* GLOBAL */
a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* BASE ---------------------------------------- */
body {
    font-family: 'Spartan', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 1rem;
}

/* HEADER ELEMENTS ---------------------------------------- */
header {
    width: 100%;
    border-bottom: 1px solid #eee;
}

#header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}

#headline {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
}

#headline-title {
    padding: 0px;
    margin: 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

#headline-subtitle {
    padding: 0px;
    margin: 0px;
    font-size: 0.8rem;
}

#nav-ul {
    list-style: none;
    padding: 0;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.nav-li > a {
    padding: 1.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: lightgray;
    transition: 0.15s;
}

.nav-li > a:hover {
    transition: 0.15s;
    color: black;
}


/* CONTENT ELEMENTS ---------------------------------------- */
main {
    margin: 1rem 0;
}

#main-gallery-alternative { /* masonry layout that flows left to right */
    width: 100%;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    grid-auto-flow: dense;
    gap: 0.5rem;
}

#main-gallery {
    columns: auto 320px;
    column-gap: 0.5rem;
    width: 100%;
}


.gallery-item {
    position: relative;
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #eee;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;
    border: 5px solid transparent;
}

.gallery-item:hover {
    border: 5px solid red;
    transition: 0.5s;
}

.gallery-imgs {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.gallery-item a {
    transition: 0.2s;
    opacity: 0;
    position: absolute;
    top: 0;
    left: -30%;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 0 0 10px 0;
}

.gallery-item:hover > a  {
    opacity: 1;
    transition: 0.2s;
    left: 0;

}

/* for #main-gallery-alternative

.tall-2 {
    grid-row-end: span 2;
}

.tall-3 {
    grid-row-end: span 3;
}

.tall-4 {
    grid-row-end: span 4;
}

.tall-5 {
    grid-row-end: span 5;
}

.tall-6 {
    grid-row-end: span 6;
}

*/


/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-self: flex-end;
}

footer object {
    padding: 10px;
    border: 0px solid black;
    box-sizing: border-box;
    transition: 0.1s;
}

footer object:hover {
    transition: 0.1s;
    border-radius: 10px;
    border-bottom: 5px solid;
}

/* MEDIA QUERIES ------------------------------ */
/* Tablets */
@media screen and (max-width: 1200px) {

}

/* Mobile */
@media screen and (max-width: 768px) {

}