:root {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --primary-font-color: "black";
    --primary-font-color-active: "red";
}

/* MEDIA QUERIES ------------------------------ */
/* Tablets */
@media screen and (max-width: 1200px) {
    :root {
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    :root {
    }
}

/* Body ---------------------------------------- */
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
header {
    text-align: center;
}

#header-title {
    padding-top: 150px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

#header-subtitle {
    font-style: italic;
    font-size: 16px;
}

nav {
    padding-top: 150px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: block;
    width: 120px;
    float: left;
}

nav ul li a {
    color: var(--primary-font-color);
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.1s;
    border: 0px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

nav ul li a:hover {
    transition: 0.1s;
    border-bottom: 4px solid;
    font-weight: bold;
}

/* Main */
main {
    width: 1200px;
}

main ul {
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 400px);
    grid-gap: 10px 20px;
}

main ul li {
    width: 100%;
    height: 100%;
}

main ul li div {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: inherit;
    height: inherit;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    border: 2px solid black;
    box-sizing: border-box;
    text-transform: uppercase;
    background-size: cover;
}

main ul li div:hover {
    opacity: 50%;
}

main ul li img {
    width: inherit;
    height: inherit;
    object-fit: contain;
}


/* Footer */
footer {
    text-align: center;
}